<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Lenovo Admin Dashboard</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
	<link th:href="@{css/styles.css}" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />

	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<!-- <a class="navbar-brand ps-3" href="index.html">Lenovo</a> -->
		<a class="navbar-brand ps-3 logo" th:href="@{/}">
			<img th:src="@{/assets/img/logo.jfif}" alt="" srcset="" /></a>

		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
					aria-describedby="btnNavbarSearch" />
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Settings</a></li>
					<li><a class="dropdown-item" href="#!">Activity Log</a></li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li><a class="dropdown-item" href="#!">Logout</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<!-- <div class="sb-sidenav-menu-heading">Core</div> -->
						<a class="nav-link" th:href="@{/}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div>
							Dashboard
						</a>
						<a class="nav-link" th:href="@{prolist}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div>
							Products
						</a>
						<a class="nav-link" th:href="@{/addproducts}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div>
							ADD Products
						</a>
						<a class="nav-link" th:href="@{prolist}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div>
							Products List
						</a>
						<a class="nav-link" href="tables.html">
							<div class="sb-nav-link-icon"><i class="bi bi-laptop"></i></div>
							About Lenovo
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Logged in as:</div>
					Start Bootstrap
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Products</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item">
							<a href="index.html">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Products</li>
					</ol>
					<div class="card mb-4">
						<div class="card-body">
							<table id="datatablesSimple" class="table table-striped table-hover">
								<thead class="table-dark">
									<tr>
										<th scope="col">Sr#</th>
										<th scope="col">Product Name</th>
										<th scope="col">Price</th>
										<th scope="col">View</th>
										<th scope="col">Update</th>
										<th scope="col">Delete</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="product : ${products}">
										<th scope="row" th:text="${product.id}"></th>
										<td th:text="${product.productName}"></td>
										<td th:text="${product.price}"></td>
										<td><i class="bi bi-eye"></i></td>
										<td>
											<a th:href="@{'/updateProductForm/' + ${product.id}}">
												<button type="button" class="btn btn-success">
													<i class="bi bi-pencil-square"></i> Update
												</button></a>
										</td>
										<td>
											<a href=""><button type="button" class="btn btn-danger">
													<i class="bi bi-trash"></i> Delete
												</button></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Lenovo 2025</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script th:src="@{js/scripts.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script th:src="@{assets/demo/chart-area-demo.js}"></script>
	<script th:src="@{assets/demo/chart-bar-demo.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		crossorigin="anonymous"></script>
	<script th:src="@{js/datatables-simple-demo.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
</body>

</html>